body {
    margin: 0px;
}

.all-container {
    display: flex;
    align-items: center;
    padding-top: 5vh;
    flex-direction: column;
}

.display-container {
    width: 80vw;
    height: 39vw;
    background-image: url("images/background.png");
    background-size: cover;
}

.title {
    height: 10vh;
    border-style: solid;
    border-width: 0.1px;
    border-color: blue;
}

.plant-container {
    display: grid;
    /* grid-template: ; */
    border-style: solid;
    border-width: 0.1px;
    border-color: blue;
    width: 66.5vw;
    height: 26vw;
    grid-template-rows: repeat(2, 9.5vw);
    grid-template-columns: repeat(4, 9.5vw);
    column-gap: 5vw;
    row-gap: 3.5vw;
    padding-left: 13.5vw;
}

.plant {
    border: 0.1px solid red;
}

#bonsai {
    background-image: url("images/pot.png");
    background-size: cover;
}

#tomato {
    background-image: url("images/pot.png");
    background-size: cover;
}

#dandelion {
    background-image: url("images/pot.png");
    background-size: cover;
}

#cactus {
    background-image: url("images/pot.png");
    background-size: cover;
}

#pothos {
    background-image: url("images/pot.png");
    background-size: cover;
}

#firenettle {
    background-image: url("images/pot.png");
    background-size: cover;
}

#mushrooms {
    background-image: url("images/pot.png");
    background-size: cover;
}

#violet {
    background-image: url("images/pot.png");
    background-size: cover;
}

.mechanics-container {
    width: 72vw;
    height: 11vw;
    border-style: solid;
    border-width: 0.1px;
    border-color: blue;
    padding-right: 8vw;
    padding-top: 2vw;
}

.timer {
    display: flex;
    /* flex-direction: column; */
    padding-top: 1.8vw;
    justify-content: right;
    width: 100%;
    gap: 1vw;
}

#timer-display {
    width: 10.5vw;
    height: 5.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Figtree", sans-serif;
    font-weight: 600;
    font-size: 36px;
    background-image: url("images/clock.png");
    background-size: cover;
    border-radius: 5px;
}

#break-display {
    width: 10.5vw;
    height: 5.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Figtree", sans-serif;
    font-weight: 600;
    font-size: 36px;
    background-image: url("images/clock.png");
    background-size: cover;
    border-radius: 5px;
}

.button-holder {
    padding-top: 2.5vw;
}

#start-btn {
    background: url("images/startbtn.png");
    background-size: cover;
    /* background-size: cover; */
    height: 3.111vw;
    width: 3.5vw;
    border-radius: 8px;
    border-width: none;
    padding-top: 0.1vw;
}

#pause-btn {
    background: url("images/pausebtn.png");
    background-size: cover;
    /* background-size: cover; */
    height: 3.111vw;
    width: 3.5vw;
    border-radius: 8px;
    border-width: none;
}

/* Menu */
.menu {
    position: absolute;
    background-color: white;
    z-index: 10;
    top: 300px;
}