<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>pomogarden</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='pomogarden.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <audio src="../static/sfx/boba-date.mp3" id="background-music" loop></audio>
        <div id="text-bonsai" class="plant-text"></div>
        <div id="text-cactus" class="plant-text"></div>
        <div id="text-dandelion" class="plant-text"></div>
        <div id="text-cactus-1" class="plant-text"></div>
        <div id="text-dandelion-1" class="plant-text"></div>
        <div id="text-bonsai-1" class="plant-text"></div>
        <div id="text-cactus-2" class="plant-text"></div>
        <div id="text-bonsai-2" class="plant-text"></div>
        <div class="all-container">
            <div id="fade"></div>
            <div id="menu">
                <p class="menu-title">Welcome to Pomogarden!</p>
                <p>Pomogarden was inspired by the <i>Pomodoro technique</i> developed
                    by Francesco Cirillo. We aim to provide a functional and relaxing
                    Pomodoro timer for the user, with extra special features for your
                    hard work! These days, studying can be a tiresome grind, and we hope
                    that this little virtual garden will bring you some comfort between
                    breaks.
                </p>
                <p>Features:</p>
                <ul>
                    <li>Set your own pomodoro timer: 25 minutes for a study session, then 5
                        minutes for a break.
                    </li>
                    <li>Each plant has its own personality! They love to talk
                        (but not as much when it's time to work), so don't be shy--
                        click on one to "hear" it talk!
                    </li>
                    <li>Interact with plants in between breaks to learn tips and tricks
                        related to studying.
                    </li>
                </ul>
                <div class="bottom-text">Music: stream cafe - boba date</div>
                <div class="bottom-text">Made with 💚 by Janet & Joseph</div>
                <div class="close-menu-container">
                    <button id="menu-music-btn" onclick="playClick(); playBackgroundMusic();"></button>
                    <button id="close-menu" onclick="closeMenu(); playClick()">Let's get started!</button>
                </div>
            </div>
            <div class="header"></div>
            <div class="title"></div>
            <div class="display-container">
                <div class="plant-container">
                    <div id="bonsai" class="plant" onclick="getData('bonsai', 'bonsai', 0); playClick()"></div>
                    <div id="cactus" class="plant" onclick="getData('cactus', 'cactus', 1); playClick()"></div>
                    <div id="dandelion" class="plant" onclick="getData('dandelion', 'dandelion', 2); playClick()"></div>
                    <div id="cactus-1" class="plant" onclick="getData('cactus-1', 'cactus', 3); playClick()"></div>
                    <div id="dandelion-1" class="plant" onclick="getData('dandelion-1', 'dandelion', 4); playClick()"></div>
                    <div id="bonsai-1" class="plant" onclick="getData('bonsai-1', 'bonsai', 5); playClick()"></div>
                    <div id="cactus-2" class="plant" onclick="getData('cactus-2', 'cactus', 6); playClick()"></div>
                    <div id="bonsai-2" class="plant" onclick="getData('bonsai-2', 'bonsai', 7); playClick()"></div>
                </div>
                <div class="mechanics-container">
                    <div class="timer">
                        <span class="music-holder"><button id="music-btn" onclick="playClick(); playBackgroundMusic();"></button></span>
                        <span id="timer-display">00:05</span>
                        <span id="break-display" style="display: none;">00:03</span>
                        <div class="button-holder">
                            <button id="start-btn" onclick="startTimer(); toggleButtons()"></button>
                            <button id="pause-btn" onclick="pauseTimer(); toggleButtons()" style="display: none;"></button>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>